body {
    text-align: center;
     background-color:cadetblue;
}

button{
    background-color:black;
    color:white;
}

.quote-container{
    text-align: left;
    border: 3px solid black;
    background: white;
    padding: 6px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 1px;
}
.quote-container-title{
    text-align: center;
}
.quote-container2{
    text-align: left;
    border: 3px solid black;
    background: white;
    padding: 6px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 1px;
}

